# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@master

    - name: Checkout submodule manually
      run: git clone https://oauth2:${{ secrets.GITLAB_PULL_TOKEN }}@code.cs.uky.edu/seales-research/papers/bibtex-refs.git

    - name: Install latex
      run: |
        sudo apt-get install \
        texlive \
        texlive-latex-extra \
        texlive-latex-recommended \
        texlive-luatex \
        texlive-bibtex-extra biber \
        latexmk

    # Build the document
    - name: Build and compress the document
      run: make

    # Rename doc
    - name: Rename the compressed document
      run: |
        cp build/cv.pdf $(TZ=America/New_York date +%Y%m%d_%H%M%S)-CSP-CV.pdf && \
        cp build/cv.pdf curriculum-vitae.pdf

    # Upload pdf
    - name: Upload PDF
      uses: actions/upload-artifact@v2
      with:
        name: PDF
        path: '*-CSP-CV.pdf'

    # Push to github.io site
    - name: Push a file to another repository
      uses: dmnemec/copy_file_to_another_repo_action@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source_file: 'curriculum-vitae.pdf'
        destination_repo: 'csparker247/csparker247.github.io'
        user_email: 'csparker247@gmail.com'
        user_name: 'csparker247'
        commit_message: 'Update CV'
