# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@master

    - name: Checkout submodule manually
      run: git clone https://oauth2:${{ secrets.GITLAB_PULL_TOKEN }}@code.cs.uky.edu/seales-research/papers/bibtex-refs.git

    - name: Install latex
      run: |
        sudo apt-get install \
        texlive \
        texlive-latex-extra \
        texlive-latex-recommended \
        texlive-luatex \
        texlive-bibtex-extra biber \
        latexmk

    # Build the document
    - name: Build and compress the document
      run: make

    # Rename doc
    - name: Rename the compressed document
      run: cp build/cv-compressed.pdf $(TZ=America/New_York date +%Y%m%d_%H%M%S)-CSP-CV.pdf

    # Upload pdf
    - name: Upload PDF
      uses: actions/upload-artifact@v2
      with:
        name: PDF
        path: '*-CSP-CV.pdf'
